.project-details
  %h2.project-details-title
    %a{:href => "https://github.com/anilmaurya", :target => "_blank"}
      = repository && repository.user
    \/
    %a{:href => "https://github.com/anilmaurya/code_detective", :target => "_blank"}
      = repository && repository.name
  %p.project-details-description
    = repository && repository.description
  %ul.github-stats
    %li.github-stat
      .github-stat-count
        = repository && repository.stars_count
      .github-stat-type Stars
    %li.github-stat
      .github-stat-count
        = repository && repository.forks_count
      .github-stat-type Forks
    %li.github-stat
      .github-stat-count
        = repository && repository.open_issues_count
      .github-stat-type Open issues
    %li.github-stat
      .github-stat-count
        = repository && repository.watchers_count
      .github-stat-type Watchers
  %p.issue-title
    = issue.title
  %p.isssue-description
    %p
      = issue.body
    %button.btn.waves-effect.waves-light{:name => "action", :type => "submit"}
      Next
      %i.material-icons.right send
