#index-banner
  .section.no-pad-bot
    .container
      %h1.header.center.blue-grey-text.text-darken4 Let's Contribute
      .row.site_description
        .col.s12
          .card.card-panel.blue-grey.darken-1
            %span.card-title Bored of your daily job ?
            %p
              Lets contribute and make your presence in Open Source community.
              we will show you random open issues on repository related to your choice of language,
      .row.center
        .input-field.black-text
          = text_field_tag :language, nil, class: 'typeahead',  placeholder: 'Which language ?'
      .row.center.blue-grey-text.text-darken4
        %h5 Not sure which language to select ?
      .row.center
        %a.btn-large.blue-grey.waves-effect.waves-light.feeling_lucky
          I'm feeling Lucky
.container.issue_detail
  = render 'home/issue_detail', issue: @issue, repository: @issue.repository

.why_contribute
  .container
    .section
      = render 'home/why_contribute'
      .refs= link_to 'refs', 'http://www.websitemagazine.com/content/blogs/posts/archive/2013/08/29/why-developers-contribute-to-open-source-projects.aspx'

.about_us
  .container
    .section
      = render 'home/about_us'

:javascript
  var languages = #{@languages.to_json}
