#index-banner
  .section.no-pad-bot
    .container
      .row.center
        %h1
          %span.header.center.red-text.text-lighten-1 Let's
          %span.header.center.white-text.text-lighten-1 Contribute
      .row
        .col.s4.offset-s4
        %blockquote
          %p.flow-text
            .card.brown.darken-3
              .card-content.white-text
                %span.card-title.red-text Tired of your daily job ?
                %p
                  Lets contribute and make your presence in Open Source community !!!
                  %br
                  We will show you any open issue, choosen randomaly from any repository. Or any issue from a repository of your choice of language.

      .row.center
        .col.s6.offset-s3
          .input-field.white-text
            = text_field_tag :language, nil, class: 'typeahead',  placeholder: 'Which language ? (for eg. Ruby)'
      .row.center.white-text
        %h5 Not sure which language to select ?
      .row.center
        %a.btn-large.red.waves-effect.waves-light.feeling_lucky.lighten-1
          I'm feeling Lucky

.container.issue_detail
  = render 'home/issue_detail', issue: @issue, repository: @issue.repository

.why_contribute
  .container
    .section
      = render 'home/why_contribute'

.about_us
  .container
    .section
      = render 'home/about_us'

:javascript
  var languages = #{@languages.to_json}
